header {
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 400px;
    background-color: #4da1ff;
    height: 100px;
    margin-bottom: 10px;
}

.logo {
    margin-top: 50px;
    margin-left: 10px;
    height: 40px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    margin-top: 0px;
    font-size: 12px;
}

.grey-word {
    color: #858585;
}

.blue-word {
    color: #35b4e9;
}
