header {
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 400px;
    background-color: #4da1ff;
    height: 100px;
    margin-bottom: 10px;
}

.logo {
    margin-top: 50px;
    margin-left: 10px;
    height: 40px;
}